.validat {
    width: 300px;
    background-color: #0000007c;
    border-radius: 5px;
}

h1 {
    color: #fff;
    padding: 3rem 2rem 2rem;
    margin-top: 6rem;
}

#error {
    color: #f55b5b;
    text-align: center;
    margin: 2rem;
}

form {
    text-align: center;
}

input {
    padding: 5px 10px;
    width: 75%;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-bottom: 1rem;
    background-color: #ffffff4b;
    color: #ffffff;
}::placeholder{
    color: #ffffffc0;
}

.btn {
    background-color: #54D24B;
    margin-bottom: 4rem;
    margin-top: 20px;
}

.btn:hover{
    background-color: #3e8e41;
}
